.contact__container {
      background-color: rgb(76, 83, 101);
        background-blend-mode: multiply;
  background-image: url(../assets/Background/contact__small.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0px 4px 25px rgb(65, 65, 65), 0px 4px 26px #ffffff,
    -2px -5px 16px #fff2f2;
  cursor: default;
}


.contact__container h1 {
  letter-spacing: 0.01em;
  font-size: 5rem;
  text-transform: uppercase;
}

.contact__info h3 {
  letter-spacing: 0.04em;
  margin: 1em 0rem;
  mix-blend-mode: normal;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  font-size: 1.5rem;
}

    .contact_icons_images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: fit-content;
      padding-top: 10px;
    }

.contact__icons img {
height: 50px;
width: 55px;  
transform: scale(1);
  transition: 2s;
}

.contact__icons img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.contact__icons a {
  height: 40px;
}
.contact_icon_text {
  font-size: 2.5em;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .contact__container {
    background-image: url(../assets/Background/contact__medium.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .contact__icons img {
height: 50px;
  width: 50px;
  }
  .contact__container h1 {
    font-size: 8rem;
  }
  .contact__container h3 {
    font-size: 2rem;
  }

  .contact_icon_text {
  font-size: 2.9em;
}
}

@media screen and (min-width: 1201px) {
  .contact__container {

    background-image: url(../assets/Background/contact_image.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .contact__container h1 {
    font-size: 15rem;
  }
  .contact__info h3 {
    font-size: 2.5rem;
  }
.contact__icons img {
  height: 55px;
  width: 60px;
 
}
.contact_icons_images {   
  padding: 7px;
}
.contact_icon_text {
  padding-left: 0.3em;
  padding-top: 0.2em;
    font-size: 2.9em;
    }
}
