.landing__container {
  display: flex;
  flex-direction: column;  
  align-items: center;      
  text-align: center;
  justify-content: center;
  background-color: rgb(56, 62, 77);
  background-blend-mode: multiply;
  background-image: url(../assets/Background/welcome__small.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;   
  cursor: default;
  letter-spacing: 0.045em;
  color: rgba(179, 183, 217, 1);
  text-shadow: -1px 0px 6px rgba(169, 178, 212, 0.77);
  text-shadow: 1px 0px 22px #ffffff, -2px 0px 4px rgba(152, 147, 225, 0.87);
}

.landing__mini__container > * {
  padding: 0.3em
}

.landing__mini__container {
  width: 85%;
}

.landing__container h1 {
  font-size: 6.6rem;
  height: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
}

.landing__container img {
  width: 5rem;
}

.landing__container h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.065em;
}

.landing__container h3 {
  font-size: 1.6rem;
  margin-bottom: 25px;
  
}

.landing__button {
  border-radius: 16px;
  cursor: pointer;
  color: whitesmoke;
  border: none;
  opacity: 77%;
  background: radial-gradient(
    15.55% 80.88% at 34.43% 51.43%,
    #a9a7d1 0%,
    rgba(182, 189, 219, 0.97) 100%
  );
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5),
    0px 0px 27px rgba(85, 119, 232, 0.5);
  mix-blend-mode: normal;
  text-shadow: 1px 0px 22px #ffffff, -2px 0px 4px rgba(75, 64, 233, 0.87);
  width: 15.4rem;
  height: 3.9rem;
  letter-spacing: 0.085em;
  font-size: 2.4rem;
  letter-spacing: 0.085em;
  padding: 0.5rem;
}


@media screen and (min-width: 601px) and (max-width: 1200px) {
  .landing__container {
    background-image: url(../assets/Background/welcome__medium.jpeg);
  }
  .landing__mini__container h1 {
    font-size: 11.5rem;
  }

  .landing__mini__container h2 {
    font-size: 4.4rem;
  }

  .landing__mini__container h3 {
    font-size: 2.4rem;
  }

  .landing__mini__container img {
    width: 7.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .landing__container {
    background-image: url(../assets/Background/welcome_image.jpeg);
  }

  .landing__mini__container h1 {
    font-size: 16.5em;
    word-spacing: -15.5rem;
  }

  .landing__mini__container h2 {
    font-size: 6.4rem;
   word-spacing: 1.5rem;
  }

  .landing__mini__container h3 {
    font-size: 4rem;
  }

  .landing__mini__container img {
    width: 11.5rem;
  }
  .landing__button {
    width: 20.4rem;
    height: 5.3rem;
    font-size: 2.9rem;
    padding: 0.7rem;
  }
}
