.project__container {
    background-color: rgb(47, 52, 64);
      background-blend-mode: multiply;
  background-image: url(../assets/Background/project__small.png);
  background-size: cover;
  background-repeat: no-repeat;background-position:left;
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  text-align: center; 
}

.project__showcase__container h1 {
  font-size: 6em;
  color: whitesmoke;
  text-shadow: 0px 4px 25px rgb(65, 65, 65), 0px 4px 26px #ffffff,
    -2px -5px 16px #fff2f2;
  cursor: default;
  letter-spacing: 0.1em;
  padding-bottom: 0.3em;
}

.project__showcase__container h2 {
  font-size: 2.4rem;
  font-style: italic;
  background: -webkit-linear-gradient(#d6cfd4, #a59c98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0), 0px 0px 13px #c2c2c2;
  transform: matrix(1, -0.05, 0.01, 1, 0, 0);
  cursor: default;
}

.project__showcase__container h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  background: -webkit-linear-gradient(#c1bdc0, #beb1ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55), 0px 0px 10px #fbfbfb;
  cursor: default;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .project__container {
  
    background-image: url(../assets/Background/project_image.jpeg);
    background-position: right;
    min-height: 100vh;
    min-width: 100vw;
  }

  .project__showcase__container h1 {
  font-size: 6.6rem;
  }

  .project__links img {
    width: 12rem;
  }

.project__showcase__container {
  padding: 6em;
}
  .project__showcase__container h2 {
    font-size: 3.5rem;
  }

  .project__showcase__container h3 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1201px) {
  .project__container {

    background-image: url(../assets/Background/project_image.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .project__mini__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em 10em;    

  }

  .projects__titles {
    min-width: 50%;
    margin-left: 15em;
  }

    .project__proof {
      display: flex;
      flex-direction: column;
  align-items: center;
  width: 50%;
    margin-right: 15em;
    }

  .project__showcase__container h1 {
    font-size: 18rem;
  }

  .project__image {
    width: 50rem;
    margin-top: 5rem;
  }

  .project__showcase__container h2 {
    margin-top: 3rem;
    font-size: 6em;text-align: left;
  }

  .project__showcase__container h3 {
    padding-top: 10rem;
    font-size: 2.3rem;
    text-align: left;width: 80%;
  }
  .project__link__image {
    width: 10em;
  }
}
