.skills_mini_container {
  position: absolute;
}

.skills__container h1 {
  font-size: 6.6rem;
  text-transform: uppercase;
  letter-spacing: 0.135em;
  mix-blend-mode: lighten;
  text-shadow: -4px -1px 8px rgba(70, 84, 74, 0.8);
  opacity: 100%;
  cursor: default;
  margin-top: 20%;
  margin-bottom: 25%;
  margin-left: 10%;
  text-shadow: 0 0 1em rgb(255, 255, 255), 0 0 1em rgba(63, 107, 169, 0.9),
    0 0 0.2em rgba(125, 157, 202, 0.9);
    text-shadow: black;
}

.skills__header {
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  background: -webkit-linear-gradient(#584e72, #7edaa7);
  opacity: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills__list {
  display: inline;
}

.skills__button {
    text-transform: uppercase;

  border-radius: 16px;
  margin-top: 3rem;
  margin-left: 3rem;
  cursor: pointer;
  background: radial-gradient(
    77.28% 402.24% at 94.34% 88.54%,
    #527a60 0%,
    #84b997 100%
  );
  box-shadow: -1px -1px 15px rgba(255, 255, 255, 0.62), -1px 1px 21px #b4e6ab;
  border-radius: 16px;
  border: none;
  text-align: center;
  width: fit-content;
  letter-spacing: 0.085em;
  font-size: 2.1rem;
  letter-spacing: 0.085em;
  padding: 1rem;
  transform: scale(1);
  transition: 2s;
  color: whitesmoke;
  cursor: pointer;
}

.skills__button:hover {
  transform: scale(1.2);
  cursor:default;
}

@media screen and (max-width: 600px) {
  .skills__container {
    position: relative;
    background-image: url(../assets/Background/skills__small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .skills__container {
    position: relative;
    background-image: url(../assets/Background/skills__medium.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .skills_mini_container {
    bottom: 8%;
    width: 50vw;
  }

  .skills__list {
    width: 20vw;
  }

  .skills__container h1 {
    font-size: 9rem;
    margin-bottom: 5%;}
}

.skills__button {
  margin-top: 3rem;
}
@media screen and (min-width: 1201px) {
  .skills__container {
    position: relative;
    background-image: url(../assets/Background/skills_image.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }

.skills_mini_container {
    bottom: 26rem;
    max-width: 30vw;
    left: 2rem;
    text-align: center;
  }
  .skills__container h1 {
    font-size: 18rem;
    margin-bottom: 5%;
    text-align: start;
  }
  .skills__button {  font-size: 2.5rem;
}

}
