.contact__container {
  background-color: rgb(38, 39, 41);
  background-blend-mode: multiply;
  background-image: url(../assets/Background/contact_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-height: max-content;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(109, 135, 226);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
  cursor: default;
}

.contact__container > * {
  max-width: 100vw;
}

.contact__info p {
  font-size: 2rem;
  text-align: left;
  padding: 1em;
}

.contact__info p:nth-of-type(2) {
  margin-bottom: 30px;
}

.contact__container h1 {
  letter-spacing: 0.15em;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;

}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  background: rgba(60, 81, 159, 0.357);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.7px);
  -webkit-backdrop-filter: blur(14.7px);
  font-size: 2rem;
  color: whitesmoke;
}

.contact__form > * {
  margin: 0.5em;
  letter-spacing: 0.07em;
}

.contact_location {
  font-size: 2rem;
  text-align: left;
}

.contact__form a {
  font-size: 2rem;
  color: rgb(195, 198, 222);
}

.contact__form a:visited {
  font-style: none;
}

.contact__form label {
  font-size: 1.5rem;
}

.contact__form input {
  background-color: rgba(2, 2, 2, 0);
  border: 0.5px solid rgba(153, 151, 255, 0.48);
  width: 80vw;
  height: 30px;
  color: whitesmoke;
  padding: 0.5em;
}

.contact__form input:nth-of-type(3) {
  height: fit-content;
}

.contact__form input:focus {
  background-color: rgba(37, 38, 71, 0.381);
}

.contact__form textarea {
  background-color: rgba(2, 2, 2, 0);
  border: 0.5px solid rgba(153, 151, 255, 0.48);
  padding: 0.5em;
  width: 80vw;
  height: 100px;
  color: whitesmoke;
}

.contact__form textarea:focus {
  background-color: rgba(37, 38, 71, 0.381);
}

.contact__icons {
  display: flex;
}

.contact__icons img {
  margin: 0.5em 0.5em;
  width: 40px;
}

.contact__icons a:nth-of-type(2) {
  margin-left: 40px;
}

.contact__submit {
  display: block;
  cursor: pointer;
  color: whitesmoke;
  background: linear-gradient(
    302.36deg,
    rgba(40, 46, 107, 0.623) 20.43%,
    rgba(82, 71, 100, 0.725) 109.7%
  );
  border: 0.5px solid rgba(153, 151, 255, 0.48);
  box-shadow: -8px -5px 10px rgba(0, 0, 0, 0.25),
    0px 0px 27px rgba(85, 119, 232, 0.5);
  border-radius: 16px;
  text-shadow: 1px 0px 22px #ffffff, -2px 0px 4px rgba(115, 107, 214, 0.87);
  font-size: 2rem;
  max-width: 6em;
  margin: 20px auto;
  letter-spacing: 0.085em;
  transition: transform 0.4s ease-in-out, filter 0.2s ease-in-out;
}

.contact__submit:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.contact__info h3 {
  letter-spacing: 0.04em;
  margin: 1em 0rem;
  mix-blend-mode: normal;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  font-size: 1.5rem;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .contact__container {
    background-image: url(../assets/Background/contact_medium.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }

  .contact__container h1 {
    font-size: 10rem;
  }
  .contact__container p {
    font-size: 3.5rem;
  }

  .contact__submit {
    width: 18rem;
    height: 6rem;
    font-size: 3rem;
    padding: 0.7rem;
  }
}

.contact__form label {
  font-size: 2.5rem;
}

.contact__form span {
  font-size: 3rem;
}

@media screen and (min-width: 1201px) {
  .contact__container {
    background-image: url(../assets/Background/contact_large.jpeg);
    background-size: cover;
    background-position: center;
    min-height: fit-content;
    min-width: 100vw;
  }

  .contact__form {
    padding: 2em;
  }
  .contact__container h1 {
    font-size: 13rem;
  }
  .contact__info h3 {
    font-size: 3rem;
  }

  .contact__container p {
    margin-top: 2em;
    margin-left: 3em;
    font-size: 5rem;
    width: 50%;
    font-weight: 200;
  }

  .contact__container p:nth-of-type(2) {
    width: 50%;
    margin-left: auto;
    margin-right: 3em;
    text-align: right;
  }

  .contact__icons img {
    width: 60px;
  }

  .contact__submit {
    font-size: 2.5rem;
    margin-left: 0.5em;
    margin-top: 2em;
    padding: 1rem;
  }

  .contact__form input {
    width: 50vw;
  }

  .contact__form textarea {
    width: 50vw;
  }

  .contact__info p:nth-of-type(2) {
    margin-bottom: 2em;
  }
}
