.landing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 42, 71, 0.562);
  background-blend-mode: multiply;
  background-image: url(../assets/Background/welcome_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  cursor: default;
  letter-spacing: 0.045em;
    color: rgb(195, 198, 222);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
  text-align: center;
}

.landing__mini__container > * {
  padding: 0.7em;
}

.landing__mini__container {
  width: 90%;
}

.landing__container h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0em 0.1em;
  text-align: center;

}

.landing__container img {
  width: 5rem;
}

.landing__container h2 {
  font-size: 2.5rem;
  letter-spacing: 0.065em;
  text-align: center;
}

.landing__container span {
  font-size: 2rem;
  margin-bottom: 25px;
  
}

.landing__button {
  display: block;
  cursor: pointer;
  color: whitesmoke;
  background: linear-gradient(
    302.36deg,
    rgba(40, 46, 107, 0.623) 20.43%,
    rgba(82, 71, 100, 0.725) 109.7%
  );
  border: 0.5px solid rgba(153, 151, 255, 0.48);
  box-shadow: -8px -5px 10px rgba(0, 0, 0, 0.25),
    0px 0px 27px rgba(85, 119, 232, 0.5);
  border-radius: 30px;
  text-shadow: 1px 0px 22px #ffffff, -2px 0px 4px rgba(115, 107, 214, 0.87);
  font-size: 2rem;
  width: 6em;
  letter-spacing: 0.085em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 4em;
  transition: transform 0.4s ease-in-out, filter 0.2s ease-in-out;

}

.landing__button:hover {
  transform: scale(1.2);   
  filter: brightness(1.2); 
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .landing__container {
    background-image: url(../assets/Background/welcome_medium.jpeg);
  }
  .landing__mini__container h1 {
    font-size: 10rem;
  }

  .landing__mini__container h2 {
    font-size: 4rem;
  }

  .landing__mini__container span {
    font-size: 3rem;
  }

  .landing__mini__container img {
    width: 8rem;
  }

  .landing__button {
    width: 18rem;
    height: 6rem;
    font-size: 3rem;
    padding: 0.7rem;
  }
}

@media screen and (min-width: 1201px) {
  .landing__container {
    background-image: url(../assets/Background/welcome_large.jpeg);
    align-items: flex-start;
  }

  .landing__mini__container {
    width: 50%;
    padding-left: 10em;
  }

.landing__mini__container > * {
  padding: 0.2em;
}


  .landing__mini__container h1 {
    font-size: 13rem;
  }

  .landing__mini__container h2 {
    font-size: 5rem;
    word-spacing: 1.5rem;
    
  }

  .landing__mini__container span {
    font-size: 2.5rem;
  }

  .landing__mini__container img {
    width: 9rem;
  }
  .landing__button {
    width: 20rem;
    height: 5.3rem;
    font-size: 2.9rem;
    padding: 0.7rem;
  }
}
