.navbar {
  position: fixed;
  right:0;
  top: 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99;
  color: whitesmoke;
}

.navbar.closed {
  margin: 0;
}
.navbar > * {
  margin: 0.1em 5em;
}

.burger_bars {
  margin-top: 5em;
}

.burger_bars > * {
  width: 7.5em;
  height: 0.6em;
  padding: 0.2em;
  margin: 1.5em 2em;
  background-color: rgb(163, 162, 231);
  border-radius: 0.2em;
}

.navbar.open {
  background: linear-gradient(
    0.36deg,
    rgba(48, 54, 122, 0.353) 20.43%,
    rgba(170, 168, 181, 0.071) 109.7%
  );
  backdrop-filter: blur(15px);
  padding-bottom: 7em;
}

.navbar.closed ul {
  display: none;
}

.navbar.open ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 100vw;
  align-items: center;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 200;
  list-style-type: none;
}

.navbar ul li a {
  cursor: pointer;
  color: rgb(193, 195, 221);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
  letter-spacing: 0.07em;
  transition: filter 0.3s ease-in-out, font-size 0.2s ease-in;
}

.navbar ul li a:hover {
  font-size: 4.2rem;
  filter: brightness(1.1);
  border-bottom: 1px solid rgba(139, 135, 199, 0.87);
}

.navbar ul li a:visited {
  color: rgb(169, 175, 236);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
}

.navbar.open > div > div:nth-child(1) {
  transform: rotate(45deg) translate(3em, 1em);
  transition: ease-out 0.1s;
}

.navbar.open > div > div:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.1s;
}

.navbar.open > div > div:nth-child(3) {
  transform: rotate(135deg) translate(-2em, 0em);
  transition: ease-out 0.4s;
}
.navbar.closed > div > div:nth-child(1) {
  transform: rotate(0) translate(0);
  transition: ease-out 0.1s;
}

.navbar.closed > div > div:nth-child(2) {
  transform: rotate(0) translate(0);
  transition: ease-out 0.7s;
}

.navbar.closed > div > div:nth-child(3) {
  transform: rotate(0) translate(0);
  transition: ease-out 0.5s;
}

@media screen and (min-width: 1201px) {
  .navbar {
    width: 15vw;
    max-height: fit-content;
    border-bottom-left-radius: 80px;
  }

  .navbar.open ul {
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
      min-height: fit-content;

  }

  .navbar.open ul li {
    margin-top: 1.5em;
  }
}
