.navbar {
  position: fixed;
  top:5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 99;
  color: whitesmoke;
}

.navbar > * {
  margin: 0.1em 5em;
}

.burger_bars {
  width: 7.5em;
  height: 0.3em;
  padding: 0.2em;
  background-color: rgb(163, 162, 231);
  border-radius: 0.2em;
}

.burger_bars > * {
  margin-top: 2em;
}

.navbar.open {
  background: linear-gradient(
    0.36deg,
    rgba(48, 54, 122, 0.618) 20.43%,
    rgba(170, 168, 181, 0.071) 109.7%
  );
  backdrop-filter: blur(15px);
  border-bottom-right-radius: 20px;
}

/* ------------- sliding menu ------------------ */
.navbar.closed ul {
  display: none;
}

.navbar.open ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  margin: 0em;
  font-size: 4rem;
  font-weight: 200;
  list-style-type: none;
}

.navbar ul li a {
  cursor: pointer;
  color: rgb(193, 195, 221);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
  letter-spacing: 0.07em;
  transition: transform 0.4s ease-in-out, filter 0.3s ease-in-out,
    font-size 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}

.navbar ul li a:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
  letter-spacing: 0.15em;
  border-bottom: 1px solid rgba(139, 135, 199, 0.87);

}

.navbar ul li a:visited {
  color: rgb(169, 175, 236);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
}

.navbar ul:nth-child(2) {
}

/* ----- animations--------- */
/* clicked */
/* .navbar.open > div > div:nth-child(1) {
  transform: rotate(45deg) translate(1em, 1em);
  transition: ease-out 0.5s;
}

.navbar.open > div > div:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}

.navbar.open > div > div:nth-child(3) {
  transform: rotate(135deg) translate(0em, 0em);
  transition: ease-out 0.5s;
} */

/* unclicked */
/* .navbar.closed > div > div {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-out 0.5s;
  margin: 2em;
} */

@media screen and (min-width: 1201px) {
  .navbar {
    width: 20vw;
    height: 50%;

  }

  .navbar.open ul {
    justify-content: flex-start;
    align-items: center;
  }

  .navbar.open ul li {
    margin-top: 2em;
  }
}
