.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: 99;
  padding-top: 5em;
}

.nav > * {
  margin: 1em 5em;
}


.nav.open {
  background: linear-gradient(
    0.36deg,
    rgb(48, 54, 122) 20.43%,
    rgb(17, 16, 21) 109.7%
  );
}

.burger-bar {
  width: 7.5em;
  height: 0.3em;
  padding: 0.3em;
  background-color: rgb(163, 162, 231);
  border-radius: 0.5em;
}

.menu {
  color: whitesmoke;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible li {
  transform: translateX(0%);
}

.menu.visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: flex-end;
  margin: 0em;
  font-size: 5rem;
  font-weight: 200;
  list-style-type: none;
}

.menu.visible > * {
  padding: 1em;
}

.menu li a {
  cursor: pointer;
  color: rgb(193, 195, 221);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
}

.menu li a:hover {
  transform: scale(1.1) translateZ(0);
  font-size: 5.1rem;
  filter: brightness(1.1);
}

.menu li a:visited {
  color: rgb(169, 175, 236);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
}

.menu :nth-child(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(1em, 1em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(0em, 0em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-out 0.5s;
  margin: 2em;
}

@media screen and (min-width: 1201px) {
.nav { right: 0%;   transition: right 0.2s ease; 
}

  .nav.open {
    max-width: 25vw;
  }
}
