.navbar__list {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  list-style: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  background: transparent;
  transition: transform 500ms ease-in-out 25ms;
  padding: 3em 1em;
    text-align: right;

}

.navbar__list.active {
  background-color: rgba(35, 35, 60, 0.305);
  backdrop-filter: blur(5px);
  background-blend-mode: multiply;
  transform: scale(1.08);
}

.navbar__list li {
  margin: auto;
}

.navbar__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(149, 154, 213);
  text-shadow: 1px 0px 22px #f8f8fc, -2px 0px 4px rgba(65, 57, 180, 0.87);
  letter-spacing: 0.165em;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.navbar__list a:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .navbar__list {
    height: 7rem;
  }

  .navbar__list {
    font-size: 2rem;
    justify-content: flex-end;
  }

  .navbar__list.active {
    border-bottom-right-radius: 30px;
  }
}

@media screen and (min-width: 1201px) {


  .navbar__list {   
    width: 30%;
    font-size: 2rem;
  justify-content: flex-end;
  }

  .navbar__list.active {
    border-bottom-right-radius: 30px;
  }
}
