.project__container {
  background-color: rgba(47, 52, 64, 0.762);
  background-blend-mode: multiply;
  background-image: url(../assets/Background/projects_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  min-height: auto;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(195, 198, 222);
}

.project__cards {
  display: flex;
  flex-direction: column;
}

.project__card {
  border-radius: 16px;
  margin-bottom: 100px;
  border: solid 1px #716fe15b ;
  box-shadow: 0px 0px 40px rgba(97, 152, 212, 0.2),
    0px 0px 40px rgba(212, 97, 170, 0.2), 0px 0px 40px rgba(85, 119, 232, 0.2);
  width: 80vw;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 16px;

}

.project__card__body {
  border-radius: 0 0 16px 16px;
  background: linear-gradient(
    0.36deg,
    rgba(48, 54, 122, 0.671) 20.43%,
    rgba(58, 57, 81, 0.698) 109.7%
  );
  padding-bottom: 3em;
}

.project__card__body > * {
  padding: 0.5em;
}

.project__container h1 {
  font-size: 5rem;
  cursor: default;
  letter-spacing: 0.1em;
  padding-bottom: 0.3em;
  margin-top: 50px;
  margin-bottom: 40px;
  color: rgb(149, 154, 213);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
}

.project__container h2 {
  font-size: 2.5rem;
  cursor: default;
}

.project__skills {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  font-size: 1rem;
}

.project__skill {
  background: linear-gradient(
    274.96deg,
    rgba(241, 231, 255, 0) 1.03%,
    rgba(79, 94, 227, 0.15) 98.81%
  );
  border: 0.5px solid rgba(153, 151, 255, 0.48);
  box-shadow: -8px -5px 10px rgba(0, 0, 0, 0.25),
    0px 0px 27px rgba(85, 119, 232, 0.5);
  padding: 0.4em 2em;
  margin-top: 1em;
  border-radius: 60px;
  transition: transform 0.4s ease-in-out, filter 0.2s ease-in-out;
}

.project__skill:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  cursor: default;
}

.project__about {
  font-size: 1.8rem;
  cursor: default;
  padding: 1em;
  text-align: left;
}

.project__container p {
  font-size: 1.8rem;
  padding: 1em;
  margin: auto;
}

.project__links a {
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.project__links > a:nth-of-type(2) {
  margin-left: 2.5em;
}

.project__links :visited {
  color: whitesmoke;
}

.project__contact {
  margin-top: 40px;
  cursor: default;
  color: rgb(149, 154, 213);
  text-shadow: 1px 0px 22px #716fe1, -2px 0px 4px rgba(65, 57, 180, 0.87);
}

.project__contact h2 {
  font-size: 3rem;
  padding: 0.5em;
}

.project__contact p {
  display: block;
  font-size: 2rem;
  padding: 0.5em;
  text-align: center;
}

.convo__button {
  display: block;
  cursor: pointer;
  color: whitesmoke;
  border: 0.5px solid rgba(153, 151, 255, 0.48);
  border-radius: 15px;
  background: linear-gradient(
    302.36deg,
    rgba(40, 46, 107, 0.623) 20.43%,
    rgba(82, 71, 100, 0.725) 109.7%
  );
  box-shadow: -8px -5px 10px rgba(0, 0, 0, 0.25),
    0px 0px 27px rgba(85, 119, 232, 0.5);
  text-shadow: 1px 0px 22px #ffffff, -2px 0px 4px rgba(115, 107, 214, 0.87);
  min-width: fit-content;
  height: 4.5rem;
  font-size: 3rem;
  letter-spacing: 0.085em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 6em;
  transition: transform 0.4s ease-in-out, filter 0.2s ease-in-out;
}

.convo__button:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .project__container {
    background-image: url(../assets/Background/projects_medium.jpeg);
    background-position: right;
    min-height: 100vh;
    min-width: 100vw;
    padding: 6em;
  }

  .project__container h1 {
    font-size: 10rem;
  }

  .project__card {
    width: 70vw;
  }

  .project__skill {
    font-size: 2rem;
  }

  .project__links a {
    font-size: 2rem;
  }

  .project__container h2 {
    font-size: 3.5rem;
  }

  .project__container p {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .project__container {
    background-image: url(../assets/Background/projects_large.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project__cards {
    flex-direction: row;
  }

  .project__card {
    width: 30vw;
    margin: auto;
    margin-bottom: 100px;
    margin-left: 50px;
  }

  .project__container h1 {
    margin-bottom: 0.5em;
    font-size: 13rem;
  }

  .project__skills {
    padding: 1em 0em;
    font-size: 2rem;
  }

  .project__container h2 {
    font-size: 5em;
  }

  .project__links {
    font-size: 1em;
  }

  .project__contact h2 {
    font-size: 10em;
  }
}
